@use "@/sass/abstracts/mixins/movie-card-grid" as *;

.main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--clr-white);
}

.movieCardsGrid {
  padding-top: 10rem;
}

.browse_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.movie_title {
  font-size: 32px;
  font-weight: 500;
  color: var(--clr-white);
  margin-bottom: 1rem;
}
